@{
    @using Microsoft.AspNetCore.Http;
    var userFirstName = Context.Session.GetString("UserFirstName");
    var role = Context.Session.GetString("Role");
    var userConnected = Context.Session.GetString("IsUserLoggedIn");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trip Finder</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Trip Finder</a>
                <span class="navbar-brand">Hello @userFirstName</span>
            </div>

            <div class="navbar-collapse collapse">
                <div class="navbar-header weather-header">
                    <div id="openweathermap-widget-19"></div>
                    <script>
                        window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = []; window.myWidgetParam.push({ id: 19, cityid: '294801', appid: '8cf322aa089137bed2277b06542c2171', units: 'metric', containerid: 'openweathermap-widget-19', }); (function () { var script = document.createElement('script'); script.async = true; script.charset = "utf-8"; script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s); })();
                    </script>
                </div>

                <div class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-left" action="/Home/Search?search=search">
                        <div class="input-group search">
                            <input type="text" class="form-control" name="search" placeholder="Search Trip or Location">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    @if (userConnected == "UserNotConnected")
                    {
                        <span>
                            <a asp-area="" asp-controller="Home" asp-action="Login" class="navbar-brand">
                                <span class="glyphicon glyphicon-log-in"></span>
                                Login
                            </a>
                        </span>
                        <span>
                            <a asp-area="" asp-controller="Users" asp-action="Create" class="navbar-brand">
                                <span class="glyphicon glyphicon-user"></span>
                                Sign In
                            </a>
                        </span>
                    }

                    else if (userConnected == "UserConnected")
                    {

                        <span>
                            <a asp-area="" asp-controller="Home" asp-action="Cart" class="navbar-brand">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                        </span>

                        <span>
                            <a asp-area="" asp-controller="Home" asp-action="Logout" class="navbar-brand">
                                <span class="glyphicon glyphicon-user"></span>
                                Logout
                            </a>
                        </span>
                    }

                    @if (role == "ADMIN")
                    {
                        <span>
                            <a asp-area="" asp-controller="Users" asp-action="Index" class="navbar-brand">
                                <span class="glyphicon glyphicon-user"></span>
                                Users Administration
                            </a>
                        </span>
                    }

                    @if (role == "ADMIN" || role == "GUIDE")
                    {
                        <span>
                            <a asp-area="" asp-controller="Tracks" asp-action="Create" class="navbar-brand">
                                <span class="glyphicon glyphicon-user"></span>
                                Add New Track
                            </a>
                        </span>
                    }


                </div>
                @if (userConnected == "UserConnected")
                {
                    <span>
                        <a asp-area="" asp-controller="Guides" asp-action="Stats" class="navbar-brand">
                            <span class="glyphicon glyphicon-user"></span>
                            Top Guid
                        </a>
                    </span>
                    <span>
                        <a asp-area="" asp-controller="Orders" asp-action="Stats" class="navbar-brand">
                            <span class="glyphicon glyphicon-user"></span>
                            Top Order
                        </a>
                    </span>
                }


                </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Trip Finder</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
