@model IEnumerable<college_assignment_mvc_project.Models.Order>

@{
    ViewData["Title"] = "Cart";
}

<div class="row">
    <div class="col-lg-12 text-center">
        <br><br><br>
        <hr>
        <h1>ההזמנות שלי</h1>
        <hr>
        <br>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PurchasedTrackID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelectedGuildeID)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchasedTrackID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SelectedGuildeID)
            </td>
        </tr>
        }
    </tbody>
</table>



