/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {

    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* LOGIN & SIGNUP STYLES */

body {
    color: #fff;
    background: #63738a;
    font-family: 'Roboto', sans-serif;
}

.weather-header {
    margin-top: 5px;
    margin-left: 15px;
}

.form-control-login {
    height: 40px;
    box-shadow: none;
    color: #969fa4;
}

.form-control-login:focus {
    border-color: #5cb85c;
}

.form-control-login,
.btn {
    border-radius: 3px;
}

.signup-form {
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;
}

.signup-form h2 {
    color: #636363;
    margin: 0 0 15px;
    position: relative;
    text-align: center;
}

.signup-form h2:before,
.signup-form h2:after {
    content: "";
    height: 2px;
    width: 25%;
    background: #d4d4d4;
    position: absolute;
    top: 50%;
    z-index: 2;
}

.signup-form h2:before {
    left: 0;
}

.signup-form h2:after {
    right: 0;
}

.signup-form .hint-text {
    color: #999;
    margin-bottom: 30px;
    text-align: center;
}

.signup-form form {
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #f2f3f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.signup-form .form-group {
    margin-bottom: 20px;
}

.signup-form input[type="checkbox"] {
    margin-top: 3px;
}

.signup-form .btn {
    font-size: 16px;
    font-weight: bold;
    min-width: 140px;
    outline: none !important;
}

.signup-form .row div:first-child {
    padding-right: 10px;
}

.signup-form .row div:last-child {
    padding-left: 10px;
}

.signup-form a {
    color: #fff;
    text-decoration: underline;
}

.signup-form a:hover {
    text-decoration: none;
}

.signup-form form a {
    color: #5cb85c;
    text-decoration: none;
}

.signup-form form a:hover {
    text-decoration: underline;
}

a:link {
    color: white !important;
}

a:visited {
    color: white !important;
}


.col-center {
    margin: 0 auto;
    float: none !important;
}

.carousel {
    margin: 30px auto 60px;
    padding: 0 80px;
}

    .carousel .item {
        text-align: center;
        overflow: hidden;
    }

        .carousel .item h4 {
            font-family: 'Varela Round', sans-serif;
        }

        .carousel .item img {
            max-width: 100%;
            display: inline-block;
        }

        .carousel .item .btn {
            border-radius: 0;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: bold;
            border: none;
            background: #a177ff;
            padding: 6px 15px;
            margin-top: 5px;
        }

            .carousel .item .btn:hover {
                background: #8c5bff;
            }

            .carousel .item .btn i {
                font-size: 14px;
                font-weight: bold;
                margin-left: 5px;
            }

    .carousel .thumb-wrapper {
        margin: 5px;
        text-align: left;
        background: #f2f3f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }

    .carousel .thumb-content {
        color: black;
        padding: 15px;
        font-size: 13px;
    }

    .carousel .carousel-control {
        height: 44px;
        width: 44px;
        background: none;
        margin: auto 0;
        border-radius: 50%;
        border: 3px solid rgba(0, 0, 0, 0.8);
    }

        .carousel .carousel-control i {
            font-size: 36px;
            position: absolute;
            top: 50%;
            display: inline-block;
            margin: -19px 0 0 0;
            z-index: 5;
            left: 0;
            right: 0;
            color: rgba(0, 0, 0, 0.8);
            text-shadow: none;
            font-weight: bold;
        }

        .carousel .carousel-control.left i {
            margin-left: -3px;
        }

        .carousel .carousel-control.right i {
            margin-right: -3px;
        }

    .carousel .carousel-indicators {
        bottom: -50px;
    }

.carousel-indicators li,
.carousel-indicators li.active {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 4px;
    border-color: transparent;
}

.carousel-indicators li {
    background: #ababab;
}

    .carousel-indicators li.active {
        background: #555;
    }

.carousel .carousel-control {
    border: none;
}

.navbar-brand {
    font-size: 15px;
}

.options {
    color: black;
}