@model college_assignment_mvc_project.Models.Track

@{
    ViewData["Title"] = "Create";
}

<div class="signup-form">
    <form asp-action="Create">
        <h2>Add Track</h2>
        <p class="hint-text">Add a new track</p>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Location" class="control-label"></label>
            @{
                List<SelectListItem> listItems = new List<SelectListItem>();
                listItems.Add(new SelectListItem
                {
                    Text = "Tzafon",
                    Value = "Tzafon"
                });
                listItems.Add(new SelectListItem
                {
                    Text = "Merkaz",
                    Value = "Merkaz"
                });
                listItems.Add(new SelectListItem
                {
                    Text = "Darom",
                    Value = "Darom"
                });
            }

            <select asp-for="Location" asp-items="listItems" class="options"></select>
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Difficulty" class="control-label"></label>
            <input asp-for="Difficulty" class="form-control" />
            <span asp-validation-for="Difficulty" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Image" class="control-label"></label>
            <input asp-for="Image" class="form-control" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Lat" class="control-label"></label>
            <input asp-for="Lat" class="form-control" />
            <span asp-validation-for="Lat" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Long" class="control-label"></label>
            <input asp-for="Long" class="form-control" />
            <span asp-validation-for="Long" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Rate" class="control-label"></label>
            <input asp-for="Rate" class="form-control" />
            <span asp-validation-for="Rate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input asp-for="Includes_Water" /> @Html.DisplayNameFor(model => model.Includes_Water)
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input asp-for="Circular" /> @Html.DisplayNameFor(model => model.Circular)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Duration" class="control-label"></label>
            <input asp-for="Duration" class="form-control" />
            <span asp-validation-for="Duration" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TrackLenght" class="control-label"></label>
            <input asp-for="TrackLenght" class="form-control" />
            <span asp-validation-for="TrackLenght" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GuideId" class="control-label"></label>
            <select asp-for="GuideId" class="form-control" asp-items="ViewBag.Guide"></select>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-success btn-lg btn-block" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
